{% extends 'base.html'%}
{%block title %} Login {%endblock%}
{%block content %}

<h1> Login </h1>
<br/><br/>
<div class="mb-3">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-light"> Login </button>
</div>
{%endblock %}