{% extends 'base.html'%}
{%block title %} Add Category {%endblock%}
{%block content %}

{%if user.is_authenticated %}
        <h1>Add Blog Category</h1>
            <br/><br/>
            <div class="mb-3">
                <form method="POST">
                  {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-light"> Add </button>
            </div>
{% else %}
    You don't have permission for this action.
{%endif%}

{%endblock %}