{% extends 'base.html'%}
{%block title %} Create a new blog post {%endblock%}
{%block content %}

{%if user.is_authenticated %}
        <h1>Write Blog Post</h1>
            <br/><br/>
            <div class="mb-3">
                <form method="POST">
                  {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-light"> Post </button>
            </div>
            <script>
                var name = "{{ user.id }}";
                document.getElementById("elder").value = name;
            </script>

{% else %}
    You don't have permission for this action.
{%endif%}

{%endblock %}