{% extends 'base.html'%}
{%block title %} {{post.titlu_tag}} {%endblock%}

{%block content %}

<h1>{{post.titlu}}</h1>
<h22> By:  {{ post.autor.first_name }}
             {{ post.autor.last_name }},
             {{ post.data_postarii }}
                {%if user.is_authenticated %}
                    {% if user.id == post.autor.id %}
                      <a href="{% url 'update_post' post.pk %}" class="btn btn-light">Edit</a> -
                      <a href="{% url 'delete_post' post.pk %}" class="btn btn-light">Delete</a> <br/></h22>
                    {%endif%}
                 {%endif%}
<hr>
<br/>
{{ post.body|safe }}

<br><br/>
<a href="{% url 'Home' %}" class="btn btn-light">Back</a>

{%endblock %}