<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <title>{%block title %} Minima[list] {%endblock %}</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'Home'%}"> Minima[list]</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {%if user.is_authenticated %}
             <li class="nav-item">
              <a class="nav-link" href="{%url 'write_post'%}">Write Blog Post</a>
             </li>
             <li class="nav-item">
                    <a class="nav-link" href="{%url 'add_category'%}">Add Category</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="{%url 'logout'%}">Logout</a>
             </li>
          {%else %}
           <li class="nav-item">
             <a class="nav-link" href="{%url 'register'%}">Register</a>
            </li>
             <li class="nav-item">
               <a class="nav-link" href="{%url 'login'%}">Login</a>
              </li>
          {%endif %}
       <!-- Cod pentru Meniul Resources (Category) -->
          {% if resources_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for item in resources_menu %}
              <a class="dropdown-item" href="{%url 'category' item|slugify%}">{{item}}</a>
           {% endfor %}
        {% else %}
              <li class="nav-item">
              <a class="nav-link" href="{%url 'category-list'%}">Categories</a>
             </li>
        {% endif %}

          </ul>
        </li>
      </ul>
      </div>
  </div>
</nav>
    <br/>
    <div class="container">
     {%block content %}

     {%endblock %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
  </body>
</html>