{% extends 'base.html'%}

{%block content %}

{% if category_posts %}

<h1> Category: {{ categ }} </h1>

<ul>
{% for post in category_posts %}
   <li><a href="{% url 'detaliiarticol' post.pk %}">{{ post.titlu }}</a> In {{post.category}}
       By {{ post.autor.first_name }}
          {{ post.autor.last_name }} - {{ post.autor.email}}  -  at {{ post.data_postarii }} <small>

       {%if user.is_authenticated %}

         <a href="{% url 'update_post' post.pk %}" class="btn btn-light">Edit</a> -
         <a href="{% url 'delete_post' post.pk %}" class="btn btn-light">Delete</a>

       {%endif%}
       </small> <br/>
       {{ post.body|slice:":100"|safe }}
   </li>
{%endfor%}
</ul>

{%else%}
    <h2> This category does not exist! </h2>

{%endif%}

{%endblock %}