{% extends 'base.html'%}
{%block title %} Blog Categories{%endblock%}

{%block content %}

<h1>Blog Categories</h1>
    {% for item in resources_menu_list %}
              <h5><a class="dropdown-item" href="{%url 'category' item|slugify%}">{{item}}</a></h5>
    {% endfor %}
<hr>
<br/>
{{ post.body|safe }}

<br><br/>
<a href="{% url 'Home' %}" class="btn btn-light">Back</a>

{%endblock %}