{% extends 'base.html'%}
{%block title %} Delete a new blog post {%endblock%}
{%block content %}

{%if user.is_authenticated %}
    {% if user.id == post.autor.id %}
        <h1>Delete Blog Post</h1>
            <br/><br/>
            <h3> Delete: {{ post.titlu }}</h3>
            <br/>
            <div class="mb-3">
             <form method="POST">
                    {% csrf_token %}
                    <strong> You are about to delete the post. Do you want to proceed?</strong><br/>
                    <button class="btn btn-light"> Delete Post </button>
            </div>
        {% else %}
            You don't have permission for this action.
        {%endif%}
{% else %}
    You don't have permission for this action.
{%endif%}

{%endblock %}