{% extends 'base.html'%}


{%block content %}

<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'detaliiarticol' post.pk %}">{{ post.titlu }}</a> In <a href="{%url 'category' post.category|slugify%}">
        {{post.category}}</a> By {{ post.autor.first_name }}
          {{ post.autor.last_name }} - {{ post.autor.email}}  -  at {{ post.data_postarii }} <small>

       {%if user.is_authenticated %}
          {% if user.id == post.autor.id %}
             <a href="{% url 'update_post' post.pk %}" class="btn btn-light">Edit</a> -
             <a href="{% url 'delete_post' post.pk %}" class="btn btn-light">Delete</a>
          {% endif %}
       {%endif%}
       </small> <br/>
       {{ post.body|slice:":100"|safe }}
   </li>

{%endfor%}


</ul>
{%endblock %}