{% extends 'base.html'%}
{%block title %} Update a new blog post {%endblock%}
{%block content %}

{%if user.is_authenticated %}
    {% if user.id == post.autor.id %}
            <h1>Update Blog Post</h1>
            <br/><br/>
            <div class="mb-3">
             <form method="POST">
                 {% csrf_token %}
                 {{ form.as_p }}
                <button class="btn btn-light"> Update </button>
            </div>
    {% else %}
        You don't have permission for this action.
    {% endif %}
{% else %}
    You don't have permission for this action.
{%endif%}

{%endblock %}